<?xml version="1.0" encoding="utf-8"?>
<configuration>

 
  <connectionStrings>
    <add name="yunt.dtsc" connectionString="server=rm-wz9mrn9kj0lt0r0i18o.mysql.rds.aliyuncs.com;port=3306;database=yunt_dtsc;uid=wdd;pwd=Unitoon2018" providerName="MySql.Data.MySqlClient" />
   
  </connectionStrings>
  <appSettings>
    <!--主xml路径-->
    <add key="xmlpath" value="XmlFile\wdd.xml" />
  </appSettings>

</configuration>